<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">医疗废物转移计划</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- /.panel -->
    <div class="row " ng-model="epInfo">
        <div class="col-lg-6">
            <div class="form-group">
                <label>医疗废物转移计划编号：</label>
                <label style="font-weight: normal;">{{TP_ID}}</label>
            </div>
            <div class="form-group">
                <label>医疗废物处置协议编号：</label>
                <label style="font-weight: normal;">{{AM_ID}}</label>
            </div>
            <div class="form-group">
                <label>拟送交的医疗废物处置单位：</label>
                <label style="font-weight: normal;">{{EN_NAME_CZ}}</label>
            </div>
            <div class="form-group">
                <label>拟送交的医疗废物中转单位：</label>
                <label style="font-weight: normal;">{{EN_NAME_ZZ}}</label>
            </div>
            <div class="form-group">
                <label>下一年度计划转移医疗废物数量：</label>
                <label style="font-weight: normal;">{{UNIT_NUM}}公斤</label>
            </div>
            <div class="form-group">
                <label>医疗废物委托处置协议开始时间：</label>
                <label style="font-weight: normal;">{{BEGINTIME}}</label>
            </div>
            <div class="form-group">
                <label>医疗废物委托处置协议结束时间：</label>
                <label style="font-weight: normal;">{{ENDTIME}}</label>
            </div>
            <div class="form-group">
                <label>联系人：</label>
                <label style="font-weight: normal;">{{LINKMAN}}</label>
            </div>
            <div class="form-group">
                <label>联系人座机：</label>
                <label style="font-weight: normal;">{{LINKTEL}}</label>
            </div>
            <div class="form-group">
                <label>联系人手机：</label>
                <label style="font-weight: normal;">{{LINKPHONE}}</label>
            </div>

        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <div>
                <button class="btn btn-default" ng-click="back();" id="backBtn">返回</button>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
