<div class="modal-content" style="width: 650px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" id="myModalLabel2">提示</h4>
    </div>
    <div class="modal-body">
        <label id="modal_val">{{content}}</label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">关闭</button>
    </div>
</div>
