<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">医疗废物运单详情</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    交接员信息
                </div>
                <div class="panel-body">
                    <p>交接员名称：{{connectName}}</p>

                    <p>所属单位：{{epName}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    司机信息
                </div>
                <div class="panel-body">
                    <p>司机名称：{{driverName}}</p>

                    <p>所属单位：{{epCzName}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="boxFlag">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    箱子信息
                </div>
                <div class="panel-body">
                    <p>总计：{{totalNum}}个</p>

                    <p ng-if="totalNum > 0" style="font-weight: bolder">箱子编号列表</p>
                    <div ng-repeat="item in boxIds">
                        <div style="width: 70%;float: left;">
                            <label style="font-weight: normal;">箱子编号：{{item.BOX_ID}}</label>
                        </div>
                        <div style="width: 30%;float: right;">
                            <label style="font-weight: normal;">状态：{{item.STATUSNAME}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="boxFlag">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    废物信息
                </div>
                <div class="panel-body">
                    <p>总计：{{weight}}公斤</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <button class="btn btn-default" ng-click="back();" id="backBtn">返回</button>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
