<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">管理计划</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row " ng-model="planMain">
        <div class="col-lg-12">
            <div class="row_func">
                <div class="func" >
                    <div>基本信息</div>
                </div>
                <div class="func_done">
                    <div>产品生产情况</div>
                </div>
                <div class="func" >
                    <div>危险废物产生概况</div>
                </div>
                <div class="func" >
                    <div>危险废物减量化计划和措施</div>
                </div>
            </div>
            <div class="row_func">
                <div class="func" >
                    <div>危险废物转移情况</div>
                </div>
                <div class="func_done">
                    <div>危险废物自行利用/处置措施</div>
                </div>
                <div class="func" >
                    <div>危险废物委托利用/处置措施</div>
                </div>
                <div class="func" >
                    <div>环境监测情况</div>
                </div>
            </div>
            <div class="row_func">
                <div class="func" >
                    <div>上年度管理计划回顾</div>
                </div>
            </div>
        </div>
    </div>
</div>