<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">管理员信息维护</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- /.panel -->
    <div class="row " ng-model="epInfo">
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <div class="dataTable_wrapper">
                <table class="table table-bordered table-hover" id="adminTable">
                    <tr>
                        <th>名称</th>
                        <th>密码</th>
                    </tr>
                    <tr ng-repeat="x in adminData">
                        <th class=""><input type="text" id="adminNameT{{x.sort}}" class="form-control" value="{{x.adminName}}" readonly="readonly"></th>
                        <th class=""><input type="password" id="adminPwdT{{x.sort}}" class="form-control" value="{{x.adminPwd}}" readonly="readonly"></th>
                        <th class="hideth"><input type="text" id="adminUserIdT{{x.sort}}" class="form-control" value="{{x.userId}}"></th>
                        <th class="hideth"><input type="text" id="adminPersonIdT{{x.sort}}" class="form-control" value="{{x.personId}}"></th>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <br/>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div>
                <button class="btn btn-default" ng-click="back();" id="backBtn">返回</button>
                <button class="btn btn-primary" ng-click="disagree();" id="disagreeBtn" ng-show="approveBtnFlag">驳回</button>
                <button class="btn btn-primary" ng-click="agree();" id="agreeBtn" ng-show="approveBtnFlag">同意</button>
                <button class="btn btn-primary" ng-click="check();" id="checkBtn">查看审批记录</button>
                <button class="btn btn-primary" ng-click="checkTransition();" id="checkTransitionBtn" ng-show="approveBtnFlag">查看当前信息</button>
                <button class="btn btn-primary" ng-click="checkHistory();" id="checkHistoryBtn" ng-hide="approveBtnFlag">查看当前信息</button>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
