<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">审批转移计划</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- /.panel -->
    <div class="row " ng-model="epInfo">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="label-width">医疗废物转移计划编号</label>
                <input id="TP_ID" class="form-control input-width" placeholder="" name="TP_ID" type="text" ng-model="TP_ID" readonly="readonly">
            </div>
            <div class="form-group">
                <label class="label-width">医疗废物处置协议编号</label>
                <input id="AM_ID" class="form-control input-width" placeholder="" name="AM_ID" type="text" ng-model="AM_ID" readonly="readonly">
            </div>
            <div class="form-group">
                <label class="label-width">拟送交的医疗废物处置单位</label>
                <input id="EN_NAME_CZ" class="form-control input-width" placeholder="" name="EN_NAME_CZ" type="text" ng-model="EN_NAME_CZ" readonly="readonly">
            </div>
            <div class="form-group">
                <label class="label-width">拟送交的医疗废物中转单位</label>
                <input id="EN_NAME_ZZ" class="form-control input-width" placeholder="" name="EN_NAME_ZZ" type="text" ng-model="EN_NAME_ZZ" readonly="readonly">
            </div>
            <div class="form-group">
                <label class="label-width">下一年度计划转移医疗废物数量（公斤）</label>
                <input id="UNIT_NUM" class="form-control input-width" placeholder="" name="UNIT_NUM" type="text" ng-model="UNIT_NUM" readonly="readonly">
            </div>
            <div class="form-group">
                <label class="label-width">医疗废物委托处置协议开始时间</label>
                <input id="BEGINTIME" class="form-control input-width" placeholder="" name="BEGINTIME" type="text" ng-model="BEGINTIME" readonly="readonly">
            </div>
            <div class="form-group">
                <label class="label-width">医疗废物委托处置协议结束时间</label>
                <input id="ENDTIME" class="form-control input-width" placeholder="" name="ENDTIME" type="text" ng-model="ENDTIME" readonly="readonly">
            </div>
            <div class="form-group">
                <label class="label-width">联系人</label>
                <input id="LINKMAN" class="form-control input-width" placeholder="" name="LINKMAN" type="text" ng-model="LINKMAN" readonly="readonly">
            </div>
            <div class="form-group">
                <label class="label-width">联系人座机</label>
                <input id="LINKTEL" class="form-control input-width" placeholder="" name="LINKTEL" type="text" ng-model="LINKTEL" readonly="readonly">
            </div>
            <div class="form-group">
                <label class="label-width">联系人手机</label>
                <input id="LINKPHONE" class="form-control input-width" placeholder="" name="LINKPHONE" type="text" ng-model="LINKPHONE" readonly="readonly">
            </div>

        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div>
                <button class="btn btn-default" ng-click="back();" id="backBtn">返回</button>
                <button class="btn btn-primary" ng-click="disagree();" id="disagreeBtn" ng-show="approveBtnFlag">驳回</button>
                <button class="btn btn-primary" ng-click="agree();" id="agreeBtn" ng-show="approveBtnFlag">同意</button>
                <button class="btn btn-primary" ng-click="check();" id="checkBtn">查询审批记录</button>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
