<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">设置废物桶净重</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- /.panel -->
    <div class="row " ng-model="epInfo">
        <div class="col-lg-3">
            <div class="form-group">
                <label>桶净重(公斤)：</label>
                <input id="boxSuttle" class="form-control" placeholder="请输入桶净重" name="boxSuttle" type="text" ng-model="boxSuttle">
            </div>
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3">
            <button class="btn btn-primary" ng-click="save();" id="saveBtn">保存</button>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
